.slider{
    margin: 100px;
    position: relative;
    box-sizing: border-box;
    &__track{
        position: absolute;
        border-radius: 10px;
        background-color: lightgrey;
    }
    &__thumb{
        position: absolute;
        top: -5px;
        left: 0;
        width: 20px;
        height: 20px;
        background-color: #e75735;
        border-radius: 50%;
    }
    &__hint{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        background: #e75735;
        color: #FFF;
        font-weight: bold;
        font-size: 15px;
        border-radius: 5px;
    }
}
